header {
    display: flex;
    flex-direction: column; /* Alinear los elementos en una columna */
    align-items: center; /* Centrar horizontalmente */
    justify-content: center; /* Centrar verticalmente */
    padding: 20px;
    background-color: #f4f4f4;
    border-bottom: 1px solid #e9ecef;
}

#header-logo {
    width: 100%; /* Ajusta el ancho de la imagen al 100% del contenedor */
    max-width: 600px;
    height: auto; /* Mantiene la proporción de la imagen */
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}


h1 {
    font-size: 40px;
    color: #4CAF50;
}

h2 {
    font-size: 24px;
    color: #4CAF50;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

input[type="text"], button {
    padding: 10px;
    margin: 5px;
}

.button-container {
    display: flex;
    justify-content: center;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

select {
    color: #4CAF50;
    border-color: #4CAF50;
    font-size: 24px;
}


button:hover {
    background-color: #45a049;
}

.form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section {
    flex: 1;
    min-width: 200px; /* Ajusta según tus necesidades */
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    align-items: center;
}

.section h2 {
    text-align: center;
}