<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seleccionar Plantas para Actualizar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" id="header-logo">
        <h1>CONTROL DE CULTIVO</h1>
    </header>
    <h2>Seleccione las plantas que desea actualizar</h2>
    <form action="{{ url_for('update') }}" method="post">
        <table>
            <thead>
                <tr>
                    <th>Seleccionar</th>
                    <th>ID</th>
                    <th>Fecha de Inicio</th>
                    <th>Banco</th>
                    <th>Variedad</th>
                    <th>Método Germinación</th>
                </tr>
            </thead>
            <tbody>
                {% for planta in plantas %}
                <tr>
                    <td><input type="checkbox" name="id" value="{{ planta._id }}"></td>
                    <td>{{ planta._id }}</td>
                    <td>{{ planta.Germinación.FechaInicio }}</td>
                    <td>{{ planta.Banco }}</td>
                    <td>{{ planta.Variedad }}</td>
                    <td>{{ planta.Germinación.Método }}</td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <div class="section">
            <h2>Seleccionar Fase de la Planta</h2>
            <div class="button-container">
                <select id="fase" name="fase">
                    <option value="Vegetación">Vegetación</option>
                    <option value="Floración">Floración</option>
                </select>
            </div>
        </div>

        <div class="form-container">
            <div class="section">
                <h2>Actualizar Plan de riego</h2>
                <label for="nutriente">Nutriente:</label>
                <input type="text" id="nutriente" name="nutriente" placeholder="Nutriente">
                <br>
                <label for="cantidad">Cantidad:</label>
                <input type="text" id="cantidad" name="cantidad" placeholder="Cantidad">
                <br>
                <label for="concentracion">Concentración:</label>
                <input type="text" id="concentracion" name="concentracion" placeholder="Concentración">
                <br>
            </div>

            <div class="section">
                <h2>Actualizar Poda de plantas</h2>
                <label for="poda">Poda:</label>
                <input type="text" id="poda" name="poda" placeholder="Tipo de poda">
                <br>
            </div>
            
            <div class="section">
                <h2>Actualizar Trasplante de plantas</h2>
                <label for="CapacidadMatera">Capacidad Matera:</label>
                <input type="text" id="CapacidadMatera" name="CapacidadMatera" placeholder="Capacidad nueva matera">
                <br>
                <label for="TipoMatera">Tipo Matera:</label>
                <input type="text" id="TipoMatera" name="TipoMatera" placeholder="Tipo de matera">
                <br>
            </div>
            
            <div class="section">
                <h2>Registrar Esquejes</h2>
                <p>Para registrar un esqueje seleccione la planta madre y haga click en el siguiente botón:</p>
                <div class="button-container">
                    <button type="submit" formaction="{{ url_for('registrar_nueva_planta') }}" formmethod="post">Registrar Esquejes</button>
                </div>
                <br>
            </div>
        </div>
        <div class="button-container">
            <button type="submit">Actualizar Plantas seleccionadas</button>
        </div>
    </form>
</body>
</html>
